{% extends 'base.html.twig' %}

{% block title %}Réservation salle - Gusto-Cowork{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}

{# BOOKING SPACE #}

<section id="spaces" class="values">
  <div class="container" data-aos="fade-up">

         <header class="section-header">
          <h2>Espace de travail disponible :</h2>
          <p>{{startDate | date("d/m/Y à H:i")}}h 
              {{endDate | date("d/m/Y à H:i")}}h</p></br>
            <h2>Heure total : {{ locationDuration }}h</h2>
            
        </header>
        

   
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="fourth">
  
    <div class="row">
    <br/>
    {% for spaces in space %}
        
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src="/uploads/{{ spaces.illustration }}"  class="img-fluid" width="220px" >
              <h3>{{ spaces.title }}</h3>
              <strong><p>{{ spaces.nbPlace }} places</strong> | {{ spaces.price }} € / heure</p>
              <p class="card-text"><b>Adresse : </b>{{ spaces.adress }}</p>
            

              {% if  spaces.title not in idSpaceFree and idSpaceFree|length == 0 %}
              <a href="{{ path('reservation_salle_prive', {title: spaces.title }) }}" class="btn btn-warning btn-block" style="float: right;">Réserver maintenant</a></br>
              </a>

              {% elseif  spaces.title not in idSpaceFree and idSpaceFree|length > 0  %}
                <button class="btn btn-warning" disabled >La salle est déjà réservée !</button>

              {% else %}
              <a href="{{ path('reservation_salle_prive', {title: spaces.title }) }}" class="btn btn-warning btn-block" style="float: right; ">Réserver maintenant</a></br>
              {% endif %}

            </div>
  
          </div>
            
    {% endfor %}
 
    </div>
  </div>





      
  </div>
</section>



{# FIN #}






{% endblock %}

{% block footer %}{% endblock %}
